<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271259143377-21e2tlpsu0nbj4jjsdisorl3pj5jqfhg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271259143377-21e2tlpsu0nbj4jjsdisorl3pj5jqfhg</string>
	<key>API_KEY</key>
	<string>AIzaSyABNafjciplBIuD1RLnfD2BTKMq6tJvTis</string>
	<key>GCM_SENDER_ID</key>
	<string>271259143377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Joshua-DeMoss.Final-Project</string>
	<key>PROJECT_ID</key>
	<string>final-project-c37ce</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-c37ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:271259143377:ios:24e90b13fc9b5f395709f0</string>
	<key>DATABASE_URL</key>
	<string>https://final-project-c37ce.firebaseio.com</string>
</dict>
</plist>
